@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cor.css";
@import "./utilidades/animacao.css";

@import "./global/header.css";
@import "./global/footer.css";

/* Utilidades */
@import "./utilidades/formulario.css";
@import "./utilidades/componentes.css";

/* Home */
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/* Bicicletas */
@import "./bicicletas/bicicletas.css";
@import "./bicicletas/bicicletas-lista.css";


/* Contato */
@import "./contato/contato.css";
@import "./contato/lojas.css";



/* Seguros */
@import "./seguros/seguros.css";
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";


@import "./bicicleta/seguro.css";
@import "./bicicleta/bicicleta.css";

/* Contato */
@import "./orcamento/orcamento.css";

/* Termos */
@import "./termos/termos.css";