.font-1-XXL {
    font-size: 4rem;
    line-height: 1.125;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.font-1-XL {
    font: 600 2rem/1.25 "Poppins", sans-serif;
}
.font-2-XL {
    font: 500 2rem/1.25 "Roboto", sans-serif;
}
.font-1-L {
    font: 400 1.5rem/1.5 "Poppins", sans-serif;
}
.font-2-L .font-2-L-B {
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
}
.font-2-L-B {
    font-weight: 500;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}
.font-1-M {
    font: 400 1.125rem/1.35 "Poppins", sans-serif;
}
.font-1-M-B {
    font: 600 1.125rem/1.35 "Poppins", sans-serif;
}
.font-2-M {
    font: 400 1.5rem/1.5 "Roboto", sans-serif;
}
.font-1-S {
    font: 400 1rem/1.5 "Poppins", sans-serif;
}
.font-2-S {
    font: 400 1rem/1.5 "Roboto", sans-serif;
}
.font-1-XS {
    font: 400 0.75rem/1.35 "Poppins", sans-serif;
}
.font-2-XS {
    font: 400 0.875rem/1.43 "Roboto", sans-serif;
}
@media (max-width: 1200px) {
    .font-1-XXL {
        font-size: 3rem;
    }
    .font-2-L {
        font-size: 1.25rem;
    }
    .font-2-L-B {
        font-size: 1.25rem;
    }
}
@media (max-width: 800px) {
    .font-1-XXL {
        font-size: 2rem;
    }
    .font-1-XL .font-2-XL {
        font-size: 1.5rem;
    }
}
